<div>
    <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
        <li routerLink="/home" style="cursor: pointer;" routerLinkActive="text-white"
            class="nav-link px-2 text-secondary">
            Home
        </li>
        <li style="cursor: pointer;" routerLink="/feature" routerLinkActive="text-white" class="nav-link px-2 text-secondary">
            Features
        </li>
        <li style="cursor: pointer;"  routerLink="/pricing" routerLinkActive="text-white" class="nav-link px-2 text-secondary">
            Pricing
        </li>
    </ul>
</div>