<div class="container">
    <h3 class="mt-3" style="text-align: center;">Home</h3>
    <div class="d-flex justify-content-center align-itens-center mt-5" style="text-align: center;">
        <p>
            Donec ad morbi neque accumsan vehicula rhoncus volutpat urna, dolor lectus phasellus sapien ut mauris
            sagittis
            aliquet amet, ad tortor mi auctor ultricies tellus nulla. quisque etiam pharetra dui fringilla ornare nisi
            dictumst, lacinia aenean phasellus orci integer morbi faucibus imperdiet, convallis amet dapibus feugiat non
            lacus. class risus aenean ullamcorper quis orci congue quis donec venenatis at bibendum posuere, sodales
            cubilia
            arcu magna viverra curabitur libero ullamcorper sit viverra sociosqu. blandit elit torquent est molestie
            quisque
            imperdiet suscipit tempor, viverra augue semper massa vitae ornare orci, augue morbi urna rhoncus integer
            dui
            leo.
            Etiam senectus rutrum fringilla elit nunc primis ornare quis scelerisque lectus sit suspendisse, rutrum
            etiam
            convallis rutrum sodales platea augue neque ut imperdiet. magna pellentesque diam magna eros quisque feugiat
            vehicula nunc morbi, in ut lacus odio viverra pulvinar pretium ante, ut per iaculis aptent id mauris at
            quisque.
            imperdiet proin aliquet malesuada massa vitae ante per egestas vel blandit, primis lorem fringilla cras nam
            pharetra erat eros. vestibulum nulla neque dolor tempor sollicitudin commodo lorem conubia sollicitudin
            enim,
            metus molestie tellus leo velit dui convallis urna sollicitudin fringilla, ut eros fringilla senectus fames
            euismod suscipit quam blandit.
        </p>

    </div>
</div>